@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;800&family=Space+Grotesk:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope';
  height: 100vh;
  overflow: hidden;
}

#app {
  display: flex;
  position: relative;
}


/* left */
#left .text {
  position: absolute;
  color: white;
  bottom: 4rem;
  left: 2.5rem;
}

#left .text h2 {
  font-size: 1.6rem;
  font-weight: 800;
}

#left .text p {
  font-size: 0.8rem;
  font-weight: 400;
}

#left {
  flex: 35%;
}

#left img {
  pointer-events: none;
  user-select: none;
  height: 101vh;
}

/* right */
header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

header h1 {
  font-size: 0.8rem;
  font-weight: 600;
}

#right {
  display: flex;
  align-items: center;
  padding: 2% 0 2% 10%;
  flex: 54%;
}

#content {
  position: relative;
  height: 80vh;
  display: flex;
  gap: 10%;
  flex-direction: column;
}

#register {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#title {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#title h2 {
  font-size: 1.3rem;
}

#title p {
  font-family: 'Space Grotesk';
  font-size: 1rem;
}
  
#form form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#form form input {
  width: 22rem;
  height: 2.5rem;
  font-family: 'Space Grotesk';
  color: #000000;
  font-size: 0.9rem;
  border: none;
  border-bottom: #E0E0E0 solid 1px;
}

#form form input::placeholder {
  font-family: 'Space Grotesk';
  color: #000000;
  font-size: 0.9rem;
}

#form input:focus {
  outline: none;
}

/* buttons */

#buttons {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#buttons button {
  border-radius: 5px;
  width: 22rem;
  cursor: pointer;
  height: 2.9rem;
  background-color: #060606;
  font-family: 'Manrope';
  font-size: 0.8rem;
  font-weight: 400;
  color: #FFFFFF;
  user-select: none;
}

#buttons .breakroll {
  user-select: none;
  display: flex;
  align-items: center;
}

#buttons .breakroll span {
  text-align: center;
  color: #7A7A7A;
  width: 1.3rem;
}

#buttons .line {
  background-color: #E0E0E0;
  width: 10.348rem;
  height: 1px;
}

#google-sign a img {
  width: 1.2rem;
  pointer-events: none;
}

#google-sign a {
  width: 22rem;
  height: 2.9rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  font-family: 'Space Grotesk';
  font-size: 1rem;
  border: #E0E0E0 solid 1px;
  border-radius: 5px;
  user-select: none;
}

/* log in */
#login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  font-family: 'Space Grotesk';
  font-size: 0.8rem;
} 

#login a {
  color: #000000;
  font-weight: 500;
  user-select: none;
}